@font-face {
  font-family: vazir;
  src: url("../assets/fonts/Vazirmatn[wght].woff2");
  font-style: normal;
  font-weight: 100, 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "vazir";
  background-image: url("../assets/images/azadi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body::after {
  content: "";
  background-image: url("../assets/images/carve-left.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body::before {
  content: "";
  background-image: url("./assets/images/carve-right.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  padding: 20px 100px;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  gap: 344px;
  align-items: center;
  margin-bottom: 72px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  color: white;
  font-weight: 300;
  gap: 74px;
}
.nav-list > li {
  list-style: none;
}
.nav-list :first-child {
  border-bottom: 1px solid white;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.profile-register {
  color: white;
}
.profile-login {
  font-family: vazir;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #1f1f1f;
  border-radius: 15px;
  padding: 6px 12px;
}

main {
  width: 70%;
  margin: 0 auto;
  flex-grow: 1;
}

.search-from {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 8px 0px;
  padding-right: 4px;
}
.form-field {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  padding-right: 8px;
  cursor: pointer;
}
.form-field label {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  pointer-events: none;
}
.form-field input {
  font-family: inherit;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
  pointer-events: none;
}
.form-field input:focus {
  outline: none;
}
.active {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}
.submit-btn {
  font-family: inherit;
  background-color: #dc3545;
  border-radius: 20px;
  color: white;
  padding: 16px 46px;
  border: none;
}
.description {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  align-self: flex-end;
  position: relative;
  right: 300px;
  top: 140px;
}
.main-content {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.drop-down {
  background: #fff;
  border-radius: 15px;
  padding: 20px 32px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-items: center; */
}

.drop-down-list {
  list-style: none;
  color: #313131;
}
.drop-down-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.drop-down-list li:hover {
  background-color: #31313128;
}

.footer {
  border-top: 1px solid #fff;
  color: #fff;
  padding-top: 54px;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  padding-left: 74px;
}
.footer-left ul {
  list-style: none;
}
.footer-right {
  padding-right: 74px;
  display: flex;
  gap: 16px;
  width: 40%;
}
.footer-right-content h4 {
  font-size: 18px;
  font-weight: 500;
}
.footer-right-content p {
  font-size: 14px;
  font-weight: 300;
}
.network-container {
  display: flex;
  gap: 32px;
  list-style: none;
  margin-top: 20px;
}
.drop-down-list img,
.drop-down-list span {
  pointer-events: none;
}
